<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="gn">
    <div>
        <h2>首页</h2>
        <div>
            <h2>top</h2>
            <a>
                登录，注册，帮助，故事，分享（用户故事，需登录），出租|买卖（用户租车|买卖，需登录）</a>
            <a class="info">
                合集：季节，城市，海边</a>
            <input type="text" value="目的地攻略||团队"/>
        </div>
        <div>
            <h2>content</h2>
            <div>热门城市</div>
            <div>经典ML地（红井路）</div>
            <div>精彩故事</div>
            <div>高分体验</div>
        </div>
        <div>
            <h2>bottom</h2>
            <div>用户帮助</div>
            <div>商家合作</div>
            <div>去ML， 寻优惠，看攻略 </div>
            <div>关于我们</div>
        </div>
    </div>
        <!--搜索：1.城市-》城市ML点 2.团队-》城市-》团队-->
</div>
</body>
</html>