<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <title>摩旅网</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid head">
        <div id="demo" class="carousel slide custom-slide" data-ride="carousel">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/images/index/h-1.jpg">
                    <div class="img-info">
                        <div class="title">This is title1</div>
                        <div class="info">This is info1</div>
                        <div class="button">
                            <span>enter info1 >></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/h-2.jpg">
                    <div class="img-info">
                        <div class="title">This is title2</div>
                        <div class="info">This is info2</div>
                        <div class="button">
                            <span>enter info2 >></span>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="/images/index/h-3.jpg">
                    <div class="img-info">
                        <div class="title">This is title3</div>
                        <div class="info">This is info3</div>
                        <div class="button">
                            <span>enter info3 >></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 左右切换按钮 -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- 导航栏 -->
        <nav class="navbar navbar-expand-sm nav-bar">
            <!--<form class="form-inline">-->
                <!--<input class="form-control search-input" type="text" placeholder="Search">-->
                <!--<button class="btn btn-success search-btn" type="button">Search</button>-->
            <!--</form>-->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <i class="fa">&#xe62e;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)" onclick="login_up()">登录</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe62d;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)" onclick="register_up()">注册</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe660;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">故事</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe606;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">出租</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe634;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">买卖</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe602;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">帮助</a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="container-fluid content">
        <div class="nav-form">
            <form>
                <div class="form-group nav-form-group">
                    <div class="select">
                        <i class="fa">&#xe65e;</i>
                        <span id="select-value"></span>
                        <i class="fa">&#xe608;</i>
                        <div class="options">
                            <span class="op-v"><i class="fa">&#xe65e;</i>地点</span>
                            <span class="op-v"><i class="fa">&#xe7b2;</i>团队</span>
                        </div>
                    </div>
                    <div class="input-group mb-3 input-group-lg form-text">
                        <input type="text" class="form-control" placeholder="输入目的地、城市或景点" aria-label="Username" aria-describedby="basic-addon1">
                        <div class="input-area">
                            <div class="hint">
                                <span>温馨提示：可通过下拉框选择搜索目的地或团队。</span>
                            </div>
                            <div class="hot">
                                <div class="hot-content">
                                    <span class="title">国内热门城市</span>
                                    <table>
                                        <tr>
                                            <td>北京</td>
                                            <td>上海</td>
                                            <td>杭州</td>
                                        </tr>
                                        <tr>
                                            <td>威海</td>
                                            <td>厦门</td>
                                            <td>长治</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="hot-content">
                                    <span class="title">夏季好去处</span>
                                    <table>
                                        <tr>
                                            <td>西藏</td>
                                            <td>新疆</td>
                                            <td>四川</td>
                                        </tr>
                                        <tr>
                                            <td>青海</td>
                                            <td>内幕</td>
                                            <td>张家口</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="hot-content">
                                    <span class="title">国内热门团队</span>
                                    <table>
                                        <tr>
                                            <td>稳骑部落</td>
                                            <td>铁骑</td>
                                            <td>铁骑</td>
                                        </tr>
                                        <tr>
                                            <td>铁骑</td>
                                            <td>铁骑</td>
                                            <td>铁骑</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="history">
                                <span class="title">最近搜索</span>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="c-area">
            <span class="c-title"><i class="fa">&#xe672;</i>热门目的地</span>
            <div class="btn-group">
                <span class="cus-btn active">北京</span>
                <span class="cus-btn">北京</span>
                <span class="cus-btn">北京</span>
                <span class="cus-btn">北京</span>
                <span class="cus-btn">北京</span>
                <span class="cus-btn">北京</span>
            </div>
            <div class="bj">
                <div class="c-content">
                    <div class="main">
                        <img class="c-img" src="/images/index/c-2.jpg">
                        <span class="title">介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|</span>
                        <span class="price">预计花费：<i class="fa">&#xe60e;</i><span class="num">88</span></span>
                        <span class="star">推荐指数：<i class="fa">&#xe632;&#xe632;&#xe632;&#xe632;&#xe632;</i></span>
                    </div>
                    <div class="main">
                        <img class="c-img" src="/images/index/c-2.jpg">
                        <span class="title">介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|</span>
                        <span class="price">预计花费：<i class="fa">&#xe60e;</i><span class="num">88</span></span>
                        <span class="star">推荐指数：<i class="fa">&#xe632;&#xe632;&#xe632;&#xe632;&#xe632;</i></span>
                    </div>
                    <div class="main">
                        <img class="c-img" src="/images/index/c-2.jpg">
                        <span class="title">介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|介绍|</span>
                        <span class="price">预计花费：<i class="fa">&#xe60e;</i><span class="num">88</span></span>
                        <span class="star">推荐指数：<i class="fa">&#xe632;&#xe632;&#xe632;&#xe632;&#xe632;</i></span>
                    </div>
                </div>
                <a class="c-more" href="#">查看更多>></a>
            </div>
        </div>
        <div class="c-area">
            <span class="c-title"><i class="fa">&#xe672;</i>夏日摩旅精选</span>
            <div class="c-content">
                <div class="main">
                    <img class="c-img" src="/images/index/c-2.jpg">
                    <span class="title">出发吧|川藏线</span>
                    <span class="sec-title">川藏线川藏线川藏线川藏线川藏线</span>
                </div>
                <div class="main">
                    <img class="c-img" src="/images/index/c-2.jpg">
                    <span class="title">出发吧|川藏线</span>
                    <span class="sec-title">川藏线川藏线川藏线川藏线川藏线</span>
                </div>
                <div class="main">
                    <img class="c-img" src="/images/index/c-2.jpg">
                    <span class="title">出发吧|川藏线</span>
                    <span class="sec-title">川藏线川藏线川藏线川藏线川藏线</span>
                </div>
            </div>
            <a class="c-more" href="#">查看更多>></a>
        </div>
        <div class="c-area">
            <span class="c-title"><i class="fa">&#xe672;</i>精彩摩旅故事</span>
            <div class="c-content">
                <div class="main c-story">
                    <img class="c-img" src="/images/index/c-3.jpg">
                    <span class="title address">北京  <span class="a-content">川藏线川藏线川藏线川藏线川藏线</span></span>
                </div>
                <div class="main c-story">
                    <img class="c-img" src="/images/index/c-3.jpg">
                    <span class="title address">北京  <span class="a-content">川藏线川藏线川藏线川藏线川藏线</span></span>
                </div>
                <div class="main c-story">
                    <img class="c-img" src="/images/index/c-3.jpg">
                    <span class="title address">北京  <span class="a-content">川藏线川藏线川藏线川藏线川藏线</span></span>
                </div>
                <div class="main c-story">
                    <img class="c-img" src="/images/index/c-3.jpg">
                    <span class="title address">北京  <span class="a-content">川藏线川藏线川藏线川藏线川藏线</span></span>
                </div>
            </div>
            <a class="c-more" href="#">查看更多>></a>
        </div>
    </div>
    <!--<div style="height: 1000px;">-->
        <!--aaa-->
    <!--</div>-->
    <div class="container-fluid footer">
        <div class="f-area">
            <div class="f-content">
                <span class="title">爱摩旅</span>
                <ul>
                    <li><a href="javascript: void(0)" id="d">当季推荐</a></li>
                    <li><a href="javascript: void(0)" id="y">沿海推荐</a></li>
                    <li><a href="javascript: void(0)" id="s">山区探险</a></li>
                </ul>
            </div>
            <div class="f-content">
                <span class="title">用户指南</span>
                <ul>
                    <li><a href="javascript: void(0)" id="m">摩旅建议</a></li>
                    <li><a href="javascript: void(0)" id="z">装备推荐</a></li>
                    <li><a href="javascript: void(0)" id="x">装备选购</a></li>
                </ul>
            </div>
            <div class="f-content">
                <span class="title">关于我们</span>
                <ul>
                    <li><a href="javascript: void(0)" id="relation">联系我们</a></li>
                    <li><a href="javascript: void(0)" id="cooperation">商家合作</a></li>
                    <li><a href="javascript: void(0)" id="auth-code">微信，头条</a></li>
                </ul>
            </div>
        </div>
        <div class="small-footer">
            <img src="/images/index/timg.jpg"><span>京公安网备1101111111111号 爱摩旅有限责任公司</span>
        </div>
    </div>
    <div class="pop-up" id="relation-pop">
        <div class="top">
            联系我们
            <span class="fa close-pop">&#xe641;</span>
        </div>
        <div class="context">
            <div class="vertical">
                <div class="fa icon">&#xe625;</div>
                <div class="font">地址<br/>
                    <span>北京市，朝阳区</span><br/>
                    <span>将台路</span><br/>
                    <span>898创新谷A01,3层</span>
                </div>
            </div>
            <div class="vertical">
                <div class="fa icon">&#xe6af;</div>
                <div class="font">邮箱<br/>
                    <span>HR:2544675996@qq.com</span><br/>
                    <span>CEO:2544675996@qq.com</span><br/>
                    <span>ORDER:2544675996@qq.com</span>
                </div>
            </div>
            <div class="vertical">
                <div class="fa icon">&#xe668;</div>
                <div class="font">电话<br/>
                    <span>HR:13269619408</span><br/>
                    <span>CEO:13269619408</span><br/>
                    <span>ORDER:13269619408</span>
                </div>
            </div>
            <div class="vertical">
                <div class="fa icon">&#xe63a;</div>
                <div class="font">时间<br/>
                    <span>HR:9:00--18:00</span><br/>
                    <span>CEO:6:00--23:00</span><br/>
                    <span>ORDER:6:00--23:00</span>
                </div>
            </div>
        </div>
        <div class="bottom">
            <span>欢迎联系我们！</span>
        </div>
    </div>
    <div class="pop-up" id="cooperation-pop">
        <div class="top">
            商家合作
            <span class="fa close-pop">&#xe641;</span>
        </div>
        <div class="context">
            <form>
                <div class="input-group mb-3 fm-text">
                    <span>姓名：</span>
                    <input type="text" class="form-control" placeholder="如何称呼您" id="cooperation-name">
                    <span class="error">请输入姓名</span>
                </div>
                <div class="input-group mb-3 fm-text">
                    <span>联系方式：</span>
                    <input type="text" class="form-control" placeholder="如何联系您" id="cooperation-phone">
                    <span class="error">请输入正确的手机号或邮箱</span>
                </div>
                <div class="input-group mb-3 fm-text">
                    <span>合作内容：</span>
                    <textarea class="form-control" rows="5" placeholder="请简述合作内容" id="cooperation-content"></textarea>
                </div>
                <button type="button" class="btn btn-success" id="cooperation-submit">提交</button>
            </form>
        </div>
        <div class="bottom">
            <span>期待与您的合作！</span>
        </div>
    </div>
    <div class="pop-up" id="cooperation-auth-code-pop">
        <div class="top">
            微信，头条
            <span class="fa close-pop">&#xe641;</span>
        </div>
        <div class="context">
            <div class="vertical">
                <div class="img">
                    <div class="title">微信群</div>
                    <img src="/images/index/a-2.jpg">
                </div>
            </div>
            <div class="vertical">
                <div class="img">
                    <div class="title">头条号</div>
                    <img src="/images/index/a-1.jpg">
                </div>
            </div>
        </div>
        <div class="bottom">
            <span>欢迎加入我们！</span>
        </div>
    </div>
    <div class="re-login" id="register-pop">
        <div class="top">
            <span class="title">注册</span>
            <span class="fa close-pop">&#xe7f7;</span>
            <span class="sec-title">已有账号？<a href="#">登录</a></span>
        </div>
        <div class="context">
            <form>
                <div class="re-error">
                    <i class="fa">&#xe663;</i>
                    <span>aa</span>
                </div>
                <div class="input-group mb-3 fm-text">
                    <input type="text" class="form-control" placeholder="请输入2-10个字符的昵称" id="re-name">
                </div>
                <div class="input-group mb-3 fm-text">
                    <input type="text" class="form-control" placeholder="请输入手机号" id="re-phone">
                </div>
                <!--<div class="input-group mb-3 fm-text">-->
                    <!--<input type="text" class="form-control" placeholder="请输入验证码" id="re-code">-->
                    <!--<button type="button" class="btn btn-success" id="re-c-submit" onclick="send_code()">发送验证码</button>-->
                <!--</div>-->
                <div class="input-group mb-3 fm-text">
                    <input type="password" class="form-control" placeholder="请输入6-12位字符的密码" id="re-pwd">
                </div>
                <div class="input-group mb-3 fm-text">
                    <input type="password" class="form-control" placeholder="请再次确认密码" id="re-cof-pwd">
                </div>
                <div class="input-group mb-3 fm-text">
                    <label class="radio-inline fm-radio"><input type="radio" name="optradio" checked id="re-sex"><i class="fa">&#xe646;</i></label>
                    <label class="radio-inline fm-radio"><input type="radio" name="optradio"><i class="fa">&#xe647;</i></label>
                </div>
                <button type="button" class="btn btn-success" id="re-submit" onclick="register()">注册</button>
            </form>
        </div>
        <div class="bottom">
            <span>欢迎加入我们！</span>
        </div>
    </div>
<script src="/script/index.js"></script>
</body>
</html>