<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爱摩旅一起摩旅</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/motor.css">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/popper.js/dist/umd/popper.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid head">
        <nav class="navbar navbar-expand-sm nav-bar">
            <ul class="navbar-nav" id="later">
                <li class="nav-item">
                    <i class="fa">&#xe615;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">一起摩旅</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe606;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">出租</a>
                </li>
                <li class="nav-item">
                    <i class="fa">&#xe634;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">买卖</a>
                </li>
                <li class="nav-item nav-help">
                    <i class="fa">&#xe602;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)" onclick="h_open()">帮助</a>
                </li>
                <li class="nav-item nav-msg">
                    <i class="fa">&#xe61e;</i>
                    <a class="nav-link nav-a" href="javascript: void(0)">消息</a>
                    <i class="fa msg-icon">&#xec1e;</i>
                </li>
                <li class="nav-item nav-user">
                    <i class="fa">&#xe67e;</i>
                    <a class="nav-link nav-a " href="javascript: void(0)"></a>
                </li>
            </ul>
        </nav>
    </div>
    <script src="/script/motor.js"></script>
</body>
</html>